 .u-section-1 {
  min-height: 386px;
}

.u-section-1 .u-image-1 {
  height: 364px;
  margin-top: 22px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  filter: brightness(0.8);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -246px auto 0 calc(((100% - 1140px) / 2) + 296px);
}

.u-section-1 .u-text-2 {
  margin: 0 calc(((100% - 1140px) / 2) + 157px) 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 296px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 57px);
    margin-right: calc(((100% - 940px) / 2) + 57px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 227px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 170px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 296px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 89px 389px 0 377px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 32px 195px 60px 165px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 277px;
    margin-right: 289px;
  }

  .u-section-2 .u-text-2 {
    width: 780px;
    margin-left: 65px;
    margin-right: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 167px;
    margin-right: 179px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 77px;
    margin-right: 89px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 321px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 374px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 73px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 30px auto 31px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 425px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 121px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 13px auto 60px;
  padding: 10px 71px 10px 70px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 50px;
  }
}